.leftlogin {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 18vh;
}

.rightlogin {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;
}

.containerlogin {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 100vh
}

@media screen and (max-width:1082px) {
    .containerlogin {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .leftlogin {
        padding: 0;
        height: 100px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .leftlogin img {
        width: 125px;
        margin-bottom: 9vh;
        display: none;
    }

    .rightlogin {
        padding: 0;
        padding-bottom: 39px;
        height: 600px;
    }

    .hrespreset {
        font-size: 25px;
    }
}

@media screen and (max-width:412px) {
    .leftlogin h1 {
        font-size: 25px;
    }

    .hrespreset {
        font-size: 21px;
    }

    .leftlogin img {
        width: 50% !important;
    }
}