.navbar{
    width: 100%;
    height:58px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bg{
    background-color: #232323;
    height: 59px;
    margin-bottom: 20px !important;

}
.bg-light{
    background-color: #f8f8f8;
    height: 59px;
    margin-bottom: 20px !important;

}
.left{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.right{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}
.middle{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.tags{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.anchorNavbartag{
    margin:0 15px;
    text-decoration: none;
    color:inherit;
    font-size: 15px;
}